div{
    width: 400px;
    height: 200px;
    background-color: #7aa847;
    margin: 10px auto;
    background-image: url(neom-6NV2_KTTJDs-unsplash.jpg);
    background-size: cover;
    color: white;
}